@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.modal-wrapper {
  @apply absolute top-0 left-0 w-full h-full -z-50 bg-black bg-opacity-0 opacity-0 pointer-events-none flex items-center justify-center transition-colors;
}

.modal-wrapper.open {
  @apply bg-opacity-80 pointer-events-auto z-50 opacity-100;
}

.modal-wrapper .modal-container {
  @apply bg-neutral-900 max-w-2xl rounded-md p-6 text-neutral-200 scale-95;
}

.modal-container.open .modal-container {
  @apply scale-100;
}

.sidebar {
  top: calc(100%);
  height: calc(100vh - 3rem);

  @apply absolute left-0 w-full bg-black bg-opacity-0 pointer-events-none z-40 text-neutral-200 overflow-hidden transition-colors duration-200;
}

.sidebar.open {
  @apply pointer-events-auto bg-opacity-80;
}

.sidebar > div {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;

  @apply -translate-x-full;
}

.sidebar.open > div {
  @apply translate-x-0;
}

.sidebar .sidebar--template-list {
  height: calc(100% - 3rem);
  @apply overflow-y-scroll w-full mt-4 divide-y divide-neutral-600;
}
