.resizer {
  background: #000;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  @apply opacity-20 bg-neutral-300;
}

.resizer.horizontal {
  height: 7px;
  margin: -3px 0;
  cursor: ns-resize;
  width: 100%;

  @apply border-y-[3px] border-blue-600 border-opacity-0;
}

.resizer.horizontal:hover {
  @apply border-blue-600 border-opacity-100;
}

.resizer.vertical {
  width: 7px;
  margin: 0 -3px;
  cursor: ew-resize;
  @apply border-x-[3px] border-blue-600 border-opacity-0;
}

.resizer.vertical:hover {
  @apply border-blue-600 border-opacity-100;
}

.resizer.disabled {
  cursor: not-allowed;
}

.resizer.disabled:hover {
  border-color: transparent;
}

.resizer.vertical:hover,
.resizer.horizontal:hover {
  transition-delay: 200ms;
  @apply opacity-100 border-blue-600 bg-blue-600;
}

.resizer.vertical.active,
.resizer.horizontal.active {
  opacity: 1 !important;
  @apply border-blue-600 bg-blue-600;
}

.SplitPane.active * {
  @apply pointer-events-none;
}
